<aside [class.collapsed]="collapsed()">
  @if (!collapsed()) {
    <p-panelMenu [model]="menuItems" />
  } @else {
    <div class="collapsed-menu">
      @for (item of menuItems; track item.label) {
        <p-button
          [icon]="item.icon"
          [rounded]="true"
          [severity]="isActive(item.routerLink) ? 'contrast' : 'secondary'"
          variant="text"
          [class.active-collapsed-btn]="isActive(item.routerLink)"
          [routerLink]="item.routerLink"
          [pTooltip]="item.label"
          tooltipPosition="right"
        />
      }
    </div>
  }
</aside>